<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome my reverse string project</h1>
    <form action="{% url "reverse" %}">
        <textarea cols="50" rows="10" name="user_text"></textarea>
        <br>
        <input type="submit" value="Reverse">
    </form>
</body>
</html>