<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Original text:{{ original_text }}</h1>
    <h2>original text has {{ number_of_words }} words</h2>
    <h1>Reversed text: {{ reversed_text }}</h1>
</body>
</html>