<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django_starter\Домашнє завдання 2\home</title>
</head>
<body>
    <p>django_starter\Домашнє завдання 2\book</p>
    <h1>Ім'я користувача: {{ username }}</h1>
    <ul>
        <li>
            <a href="/homework_2/">Back</a>
        </li>
    </ul>
</body>
</html>