<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>django_starter\Домашнє завдання 2\home</title>
</head>
<body>
    <p>django_starter\Домашнє завдання 2\home</p>
    <h1>Country: {{ country }}</h1>
    <h1>City : {{ city }}</h1>
    <h1>Longitude : {{ longitude }}</h1>
    <h1>Latitude : {{ latitude }}</h1>
    <h1>Weather: {{ weather }}</h1>
    <h1>Temperature: {{ temperature }}</h1>
    <ul>
        <li>
            <a href="/homework_2/">Back</a>
        </li>
    </ul>
</body>
</html>